@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@0;1&family=Work+Sans:wght@400;500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Roboto:ital,wght@1,300&display=swap');
  table, th, td {
  border: 3px solid aqua;
  margin: 2em;
  }
 img {
  width: 30%;
  height: 30%;
  display: block;
  margin: 0 auto;
  border-radius: 5%;
 }
 h1 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 3em;
  font-weight: bold;
  color:rgb(133, 45, 45);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  position: sticky;
  top: 30px;
 }
 h2 {
  text-align: center;
  color: rgb(133, 45, 45);
  position: fixed;
  right: 3em;
 }  
 td, th {
  padding: 0.93em;
 }
 #personal-data {
  font-family: 'Merriweather', serif;
  font-family: 'Work Sans', sans-serif;
  font-size: large;
  padding: 1em ;
  background: rgb(58,180,164);
  background: linear-gradient(90deg, rgba(58,180,164,1) 0%, rgba(69,226,252,1) 100%);
  opacity: 0.8;
  text-align: center;
  margin: 2em ;
 }
 #instagram:hover {
  color: rgb(119, 10, 10);
 }
 #github:hover {
  color: rgb(119, 10, 10);
 }
 #bottom:hover {
  color:  rgb(119, 10, 10);
 }
 body {
  background-image: url(SAND.jpeg);
  background-size: cover ;
 }
 a {
  font-size: x-large;
  font-weight: 200;
  color: rgb(169, 232, 41);
 }
 th {
  font-weight: 600;
  font-size: x-large;
  font-style: italic;
 }
 td {
  font-weight: 500;
  font-size: x-large;
  font-style: oblique;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(166, 252, 27);
 }
 ul {
  font-size: x-large;
  font-weight: 500;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
 }
 p {
  font-size: 2em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: 60%;
  text-align: left;
  color: rgb(245, 94, 114);
 }
 ol {
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
  font-weight: 500;
  font-style: italic;
 }
 li {
  color: aquamarine;
 }
 #email {
  display: block;
  margin: auto;
 }
 #password {
  display: block;
  margin: 1em auto;
  
 }
 textarea {
  display: block;
  margin: 1em auto;

 }
 #submit {
  display: block;
  margin: 1em auto ;
 }
 #hobby-img {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 1em;
 }
 .hobby {
 aspect-ratio: 1/1;
  margin: 1em;
  border-radius: 5%;
  box-shadow:9px 7px 15px 0px rgb(34 60 80 / 20%) ;
 }
 .about-me {
  font-size: 2em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: 60%;
  text-align: left;
  color: rgb(19, 17, 17);
  position: relative;
  left: 10rem;
 }