@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@0;1&family=Work+Sans:wght@400;500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Roboto:ital,wght@1,300&display=swap');
  table, th, td {
  border: 3px solid aqua;
  margin: 2em;
  }
 img {
  width: 30%;
  height: 30%;
  display: block;
  margin: 0 auto;
}
 h1 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 3em;
  font-weight: bold;
  color:rgb(43, 224, 140);
 }
 h2 {
  text-align: center;
  color: rgb(127, 136, 9);
 }
 td, th {
  padding: 0.93em;
 }
 #personal-data {
  font-family: 'Merriweather', serif;
  font-family: 'Work Sans', sans-serif;
  font-size: large;
  padding: 1em ;
  color: pink;
  background: rgb(61,255,0);
  background: linear-gradient(331deg, rgba(61,255,0,0.7290266448376226) 5%, rgba(127,167,55,1) 30%, rgba(201,68,117,1) 58%, rgba(249,4,157,1) 76%);
  opacity: 0.7;
  text-align: center;
  margin: 2em auto;
 }
 #instagram:hover {
  color: rgb(119, 10, 10);
 }
 #github:hover {
  color: rgb(119, 10, 10);
 }
 #bottom:hover {
  color:  rgb(119, 10, 10);
 }
 body {
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(39,160,183,1) 25%, rgba(42,136,174,1) 50%, rgba(49,87,157,1) 75%, rgba(56,38,140,1) 100%);
 }
 a {
  font-size: x-large;
  font-weight: 200;
  color: black;
 }
 th {
  font-weight: 600;
  font-size: x-large;
  font-style: italic;
 }
 td {
  font-weight: 500;
  font-size: x-large;
  font-style: oblique;
 }
 ul {
  font-size: x-large;
  font-weight: 500;
  font-style: italic;
 }
 p {
  font-size: 2em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(56, 41, 41);
  width: 60%;
  text-align: center;
  margin: auto;
 }
 ol {
  font-size: x-large;
  font-weight: 500;
  font-style: italic;
 }
 #email {
  display: block;
  margin: auto;
 }
 #password {
  display: block;
  margin: 1em auto;
  
 }
 textarea {
  display: block;
  margin: 1em auto;

 }
 #submit {
  display: block;
  margin: 1em auto ;
 }