table, th, td {
  border: 1px solid black;
  }
 img {
  width: 30%;
  height: 30%;
  display: block;
  margin: 0 auto;
}
 h1 {
  text-align: center;
 }
 h2 {
  text-align: center;
 }
 td, th {
  padding: 0.93em;
 }